body {
  background-color: #e3710a;
  text-align: center;
}

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}